@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 472px;
}

section#redes-sociais{
    text-align: left;
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

section#redes-sociais img:hover{
    transform: translate(3px, 3px);
    transition: transform .3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.400);
}